.senha {
    height: 102px;
    width: 290px;
  }
  
  .senha .div {
    height: 102px;
    position: relative;
    width: 292px;
  }
  
  .senha .rectangle {
    left: 0;
    position: absolute;
  }
  
  .senha .rectangle-2 {
    background-color: #FFFFFF;
    border-radius: 100px;
    height: 66px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 290px;
  }
  
  .senha .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .senha .div-2 {
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  
  .senha .default {
    background-color: #FFFFFF;
    border-radius: 100px;
    height: 66px;
    top: 36px;
    width: 290px;
  }
  
  .senha .variant-3 {
    height: 102px;
    top: 0;
    width: 292px;
  }
  
  .senha .variant-2 {
    background-color: #FFFFFF;
    border: 3px solid;
    border-color: #ff0000;
    border-radius: 100px;
    height: 66px;
    top: 36px;
    width: 290px;
  }
  
  .senha .property-1-default {
    color: #000000;
    left: 10px;
    text-align: center;
    top: 0;
  }
  
  .senha .property-1-variant-3 {
    color: #000000;
    left: 20px;
    top: 56px;
  }
  
  .senha .property-1-variant-2 {
    color: #000000;
    left: 10px;
    text-align: center;
    top: 0;
  }
  