.container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
}

.title {
    color: #141414;
    font-size: 1.2rem;
    font-weight: bold;
}

.icons {
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 580px) {
    .container {
        width: 90%;
    }
}