.logi-cadastro {
  background-color: #1f68d6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.logi-cadastro .div-3 {
  background-color: var(--azul);
  height: 1024px;
  position: relative;
  width: 1440px;
}

.logi-cadastro .SEDUC-escolas {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 604px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 175px;
}

.logi-cadastro .login-e-cadastro-instance {
  left: 540px !important;
  position: absolute !important;
  top: 404px !important;
}
